@charset "utf-8";
/* CSS Document */
/*------------------------------------*\
	Eigene Definitionen
\*------------------------------------*/

.field-name-field-article-teasertext {
display:none;
}

h2 .block-title {
text-transform:none !important;
}

h1.title {
font-variant:small-caps;
color:#999;
}

.line-height-1 {
margin-bottom:0.8em !important;
}

#thin {
border-top: 1px dotted #000;
border-right: none;
border-bottom: none;
border-left: none;
margin-top:5px;
}

a.grey {
color:#666 !important;
}
a.grey:hover{
text-decoration:underline;
}

a.fotostrecken {
color:#666 !important;
font-size:0.95em;
font-weight:bold;
}

/*------------------------------------*\
	Logos der Bundesligavereine
\*------------------------------------*/

.logos {
width:800px !important;
height:35px;
}

.grid-small {
display: inline;
  float: left;
  position: relative;
  margin-left: 8px;
  margin-right: 8px;

}

.container-16 .grid-small {
  width: 32px;
}

.container-16 .grid-small img {
  opacity:0.5;
}

.container-16 .grid-small img:hover {
  opacity:1;
}

/*------------------------------------*\
	Aktuelles
\*------------------------------------*/

.topic-127 { /*Bundesliga */
background-color:#f18000 !important;
}

.topic-128 { /*Spielberichte */
background-color:#3b9319 !important;
}

.topic-129 { /*Ulis Kommentar */
background-color:#123590 !important;
}

.topic-130 { /*Schachnews */
background-color:#FC0 !important;
}

.topic-131 { /*Klubnews */
background-color:#1DB6B6 !important;
}

/*------------------------------------*\
	Menü
\*------------------------------------*/

.zone-menu ul.nice-menu { /* Hintergrundfarbe der Menüleiste */
background-color:black;
border:1px solid white;
}

.branding-data {
padding: 10px 0 !important;
}

/*------------------------------------*\
	Social Media
\*------------------------------------*/

#container_twitter {
display:none;
}

#container_facebook {
display:block;
}

#schalter_fb {
font-weight:bold;
color:white !important;
width:100px !important;
height:20px;
padding:2px;
background-color:#f18000;
border:1px solid black;
text-align:center;
float:left;
margin-top:10px;
cursor:pointer;
}

#schalter_tw {
font-weight:bold;
color:white !important;
width:100px !important;
height:20px;
padding:2px;
background-color:#000;
border:1px solid black;
text-align:center;
float:right;
margin-top:10px;
cursor:pointer;
}

/*------------------------------------*\
	JCarousel
\*------------------------------------*/

.field-slideshow-wrapper {
background-color:#2F3541;
color:white;
border:1px solid #f18000;
padding:5px;
}

.field-slideshow-carousel-wrapper {
padding-top:8px;
border-top:1px dotted white;
}
.block-video-block .jcarousel-skin-default .jcarousel-container-horizontal {

}


@media only screen and (max-width: 850px) { 

.views_slideshow_cycle_main {
  width: 100%;
  float: left;
}

.views_slideshow_cycle_main .views-slideshow-cycle-main-frame {
  width: 100% !important;
  height: auto;
}

.views_slideshow_cycle_main .views-slideshow-cycle-main-frame-row {
  width: 100% !important;
  height: auto;
}
.views_slideshow_cycle_main .field-content {
  max-width: 100%;
  width: 100%;
}

.views_slideshow_cycle_main .field-content img {
  max-width: 800px;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
}

