/*------------------------------------------- */
/*------------------------------------------- */
/*-------------- All Device widths -----------*/
/*------------------------------------------- */
/*------------------------------------------- */

/** The front page Header Slideshow **/

.front .view-article-slider-large.view-display-id-block .slick-dots {
  position: absolute;
  bottom: 68px!important;
  right: 25px;
  width: auto;
  text-align: left;
}
.front .view-article-slider-large .slick-slider {
  margin-bottom: 0;
}
.front #block-views-article-slider-large-block .slick-slider {
  margin-bottom: 10px;
}

.slick-dots li {
  list-style-type: none;
  float: left;
  margin: 0 3px;
}
.slick-dots li button {
  padding: 0;
  display: inline-block;
  text-align: left;
  text-indent: -9999px;
  width: 12px;
  height: 12px;
  line-height: 0;
  border-radius: 6px;
  moz-border-radius: 6px;
  webkit-border-radius: 6px;
  border: 1px solid white;
  background: #b11711;
}
.slick-dots li.slick-active button {
  background: #e38480;
}

/* Slideshow Frontpage */
.front #section-header {
  background: white;
  padding-bottom: 40px;
}
.front .zone-submenu-wrapper {
  background: white;
  display: block;
  position: relative;
}
.front #block-views-article-slider-large-block  {
  z-index: 2;
  position: relative;
}
.front #block-views-article-slider-large-block .views-row {
  position: relative;
  top: 0;
  left: 0;
}

.front #block-views-article-slider-large-block .view-article-slider-large .view-display-id-block {
  position: relative;
}
.front #block-views-article-slider-large-block .view-article-slider-large .views-field-title {
  width: 100%;
  background: rgba(166, 10, 4, 0.7);
  zoom: 1;
}
.front #block-views-article-slider-large-block .view-article-slider-large .views-field-title:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.front #block-views-article-slider-large-block .view-article-slider-large .views-field-title a {
  color: #fff;
  padding: 15px 20px;
  float: left;
  font-size: 120%;
  font-family: "Segoe UI","Segoe WP","Open Sans Condensed",Helvetica,sans-serif;
  font-weight: bold;
  line-height: 1.4
}
.front .block-views-article-slider-large-block-1 {
  background: white;
  /*z-index: 19;*/
}
.front .block-views-article-slider-large-block-1 .views-row {
  zoom: 1;
  margin-bottom: 0.7em;
}
.front .block-views-article-slider-large-block-1 .view-article-slider-large .views-row:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.front .block-views-article-slider-large-block-1 .view-article-slider-large .views-row:hover  {
  cursor: pointer;
  cursor: hand;
}
.front .block-views-article-slider-large-block-1 .view-article-slider-large .views-field-title,
.front .block-views-article-slider-large-block-1 .view-article-slider-large .view-footer a {
  font-family: "Segoe UI","Segoe WP","Open Sans Condensed",Helvetica,sans-serif;
  font-weight: bold;
}
.front .block-views-article-slider-large-block-1 .view-article-slider-large .views-field-field-image {
  float: left;
  width: 15%;
  padding: 1% 2%;
}
.front .block-views-article-slider-large-block-1 .view-article-slider-large .views-field-title {
  float: left;
  padding: 0 2%;
  width: 75%;
  line-height: 1.3;
}
.front .block-views-article-slider-large-block-1 .view-article-slider-large .view-footer a {
  color: #5d5d5d;
}
.front .block-views-article-slider-large-block-1 .view-article-slider-large .views-row.active-thumb,
.front .block-views-article-slider-large-block-1 .view-article-slider-large .views-row:hover {
  background: #eee;
}

.more-news ,.current-standings{
  text-align: center;
  font-size: 1.5em;
  height: 73px;
  line-height: 73px;
  display: block;
}

.more-news:hover, .current-standings:hover{
background-color:#eee;
}
.front .block-views-article-slider-large-block-1 .slick-list,
.front .block-views-article-slider-large-block-1 .slick-track {
  height: auto!important;
}

/*------------------------------------------- */
/*------------------------------------------- */
/*-------------- Smartphone wide -------------*/
/*------------------------------------------- */
/*------------------------------------------- */

@media screen and (min-width: 400px){

.front .block-views-article-slider-large-block-1 .view-article-slider-large .views-field-title {
  padding-top: 0.75em;
}

.front #block-views-article-slider-large-block .slick-slider {
  margin-bottom: 0;
}


} /* Ende Media Query Tablet narrow */



/*------------------------------------------- */
/*------------------------------------------- */
/*-------------- Tablet narrow --------------*/
/*------------------------------------------- */
/*------------------------------------------- */

@media screen and (min-width: 600px){

.front .block-views-article-slider-large-block-1 .view-article-slider-large .views-field-field-image {
 width: 12%;
}
.front .block-views-article-slider-large-block-1 .view-article-slider-large .views-field-title {
  width: 81%;
  padding-left: 0;
}
.front .block-views-article-slider-large-block-1 .views-row {
  margin-bottom: 0.3em;
}


} /* Ende Media Query Tablet narrow */

/*------------------------------------------- */
/*------------------------------------------- */
/*-------------- Tablet wide --------------*/
/*------------------------------------------- */
/*------------------------------------------- */

@media screen and (min-width: 800px){

.front #block-views-article-slider-large-block .views-field-field-image img {
  width: 100%;
  height: auto;
}

.front .block-views-article-slider-large-block-1 .views-row {
  float: left;
  width: 49.5%!important;
  margin-bottom: 0;
}
.front .block-views-article-slider-large-block-1 .view-article-slider-large .views-field-field-image {
 width: 15%;
}
.front .block-views-article-slider-large-block-1 .view-article-slider-large .views-field-title {
  width: 77%;
  padding-left: 1%;
}

.front .block-views-article-slider-large-block-1 .more-news ,
.front .block-views-article-slider-large-block-1 .current-standings {
  width: 50%;
  float: left;
  text-align: center;
  font-size: 1.5em;
  height: 73px;
  line-height: 73px;
  vertical-align: middle;
  text-align: center;
}



} /* Ende Media Query Tablet narrow */



/*------------------------------------------- */
/*------------------------------------------- */
/*-------------- Desktop narrow --------------*/
/*------------------------------------------- */
/*------------------------------------------- */

@media screen and (min-width: 980px){
  .front #block-views-article-slider-large-block .view-article-slider-large .views-field-title {
  position: absolute;
  bottom: 0;
  z-index: 20;
}
.front #block-views-article-slider-large-block .views-field-field-image a {
  display: block;
}
.front .block-views-article-slider-large-block-1 .view-article-slider-large .slick-track,
.front .block-views-article-slider-large-block-1 .view-article-slider-large .slick-list{
  height: auto!important;
}


.front .block-views-article-slider-large-block-1 .view-article-slider-large .views-field-field-image {
 width: 15%;
}
} /* Ende Media Query Desktop narrow */





/*------------------------------------------- */
/*------------------------------------------- */
/*-------------- Desktop ---------------------*/
/*------------------------------------------- */
/*------------------------------------------- */

@media screen and (min-width: 1220px) {

.front .zone-submenu-wrapper {
  margin-top: 40px;
}
.front #block-views-article-slider-large-block {
  float: left;
  width: 879px;
}
.front .block-views-article-slider-large-block-1 {
  float: left;
  width: 299px;
  height: 423px;
  border: 1px solid #aaa;
  border-left: none;
}
.front .block-views-article-slider-large-block-1 .view-article-slider-large .views-row {
  float: none;
  position: relative;
  width: auto!important;
  padding: 7px 0;
  border-bottom: 1px solid #777;
}
.front .block-views-article-slider-large-block-1 .view-article-slider-large .views-field-field-image {
  padding: 1% 2% 1% 4%;
  width: 20%;
}
.front .block-views-article-slider-large-block-1 .view-article-slider-large .views-field-title {
  width: 68%;
  padding-top: 0;
  padding-left: 2%;
}
.front .block-views-article-slider-large-block-1 .view-article-slider-large .view-footer a {
  display: block;
}
.front .block-views-article-slider-large-block-1 .more-news {
border-bottom: 1px solid #777;
}
.front .block-views-article-slider-large-block-1 .more-news ,
.front .block-views-article-slider-large-block-1 .current-standings {
  float: none;
  width: auto;
}

} /* Ende Media Query Desktop */