/*------------------------------------------- */
/*------------------------------------------- */
/*-------------- All Device widths -----------*/
/*------------------------------------------- */
/*------------------------------------------- */

th, td {
  padding: 0.3em 0.7em;
  line-height: 1.1;
}
th {
  text-align: left;
}

/* Hide the h1 on the Verein Panel Page */
.page-verein h1#page-title,
.page-spieler h1#page-title {
  display: none;
}

.slick-dots li {
  list-style-type: none;
  float: left;
  margin: 0 3px;
}
.slick-dots li button {
  padding: 0;
  display: inline-block;
  text-align: left;
  text-indent: -9999px;
  width: 12px;
  height: 12px;
  line-height: 0;
  border-radius: 6px;
  moz-border-radius: 6px;
  webkit-border-radius: 6px;
  border: 1px solid white;
}

/* Slideshow Frontpage */
.front .view-article-slider-large .view-display-id-block {
  position: relative;
}

/*------------------------------------------- */
/*------------------------------------------- */
/*-------------- Tablet wide --------------*/
/*------------------------------------------- */
/*------------------------------------------- */

@media screen and (min-width: 980px) {

.front .view-article-slider-large.view-display-id-block .slick-dots {
  position: absolute;
  bottom: 75px;
  right: 25px;
}



} /* Ende Media Query Desktop narrow */


/*------------------------------------------- */
/*------------------------------------------- */
/*-------------- Desktop ---------------------*/
/*------------------------------------------- */
/*------------------------------------------- */

@media screen and (min-width: 1220px) {


} /* Ende Media Query Desktop */