/*------------------------------------------- */
/*------------------------------------------- */
/*-------------- All Device widths -----------*/
/*------------------------------------------- */
/*------------------------------------------- */

th, td {
  padding: 0.3em 0.7em;
  line-height: 1.1;
}
th {
  text-align: left;
}

/* Hide the h1 on the Verein Panel Page */
.page-verein h1#page-title,
.page-spieler h1#page-title {
  display: none;
}
.page-spielplan .view-spielplan table th.views-field-field-tm-team-1,
.page-spielplan .view-spielplan table td.views-field-field-tm-team-1 {
  text-align: right;
}
.page-spielplan .view-spielplan table th.views-field-nothing,
.page-spielplan .view-spielplan table td.views-field-nothing{
  width: 20px;
  padding: 0.3em 0;
  text-align: center;
}
/* Clearfix für die Slider und die Live-Leiste auf der Startseite */
.front #block-views-article-slider-large-block-1,
.front #block-views-article-slider-large-block,
.front #block-views-live-bar-block {
  zoom: 1;
}
.front #block-views-article-slider-large-block-1:after,
.front #block-views-article-slider-large-block:after,
.front #block-views-live-bar-block:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.front #block-views-live-bar-block {
  z-index: -1;
}
.front #block-views-live-bar-block .views-row {
  float: left;
}
.front #block-views-live-bar-block .views-row {
  zoom: 1;
}
.front #block-views-live-bar-block .views-row:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}



/*------------------------------------------- */
/*------------------------------------------- */
/*-------------- Tablet wide --------------*/
/*------------------------------------------- */
/*------------------------------------------- */

@media screen and (min-width: 980px) {



} /* Ende Media Query Desktop narrow */


/*------------------------------------------- */
/*------------------------------------------- */
/*-------------- Desktop ---------------------*/
/*------------------------------------------- */
/*------------------------------------------- */

@media screen and (min-width: 1220px) {



} /* Ende Media Query Desktop */