th, td {
  padding: 0.3em 0.7em;
  line-height: 1.1;
}
th {
  text-align: left;
}

/* Hide the h1 on the Verein Panel Page */
.page-verein h1#page-title,
.page-spieler h1#page-title {
  display: none;
}