body,html {
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}

input.elo {
	width:80px;
	border:1px solid #f18000;
	text-align:right;
}

input.punkte {
	width:40px;
	border:1px solid #f18000;
	text-align:right;
}

label {
	width:100px;
	display:inline-block;
}