.glyphicon
{
    margin-right:4px !important; /*override*/
}

.pagination .glyphicon
{
    margin-right:0px !important; /*override*/
}

.pagination a
{
    color:#555;
}

.panel ul
{
    padding:0px;
    margin:0px;
    list-style:none;
}

.news-item
{
    padding:4px 4px;
    margin:0px;
    border-bottom:1px dotted #555; 
}

.panel-heading {
  background-image: linear-gradient(to bottom, #f99728 0px, #f18000 100%) !important;
  color:white !important;
}

.panel-footer {
    padding: 5px 10px;
    background-color: #f18000 !important;
    border-top: 1px solid #DDD;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
	color:white;
	font-weight: 700;
}

.panel-footer-table {
    padding: 5px 10px;
    background-color: #f18000 !important;
	color:white;
	font-weight: 700;
}

.panel-body {
	padding:5px !important;
}

.panel-default {
	border:1px solid #f18000;
	padding:2px !important;
}

.footable a {
	color:#f18000;
}

.footable {
	max-width:300px;
	border-collapse: collapse;
	border-spacing: 0;
}
.footable th, .footable td {
	padding: 0.3em 0.7em;
	line-height: 1.1;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #ccc;
}
.footable th,tr.even {
	background-color: #f7f7f7 !important;
}

.text-left {
	text-align:left !important;
}
